body{background-color: gainsboro}

/*Estilos del Login*/

.btnIngresar{
    background-color: brown;
}

#id_btn{
    color: black;
    margin: 20px 0;
    border: blue 2px solid;
    border-radius: 5px;
}
